<div class="dashboard-layout">
  <!-- SIDEBAR -->
  <div class="sidebar">
    <h1 class="ims">JR STORE</h1>
    <ul class="nav-links">
      <li *ngIf="isAuth()"><a routerLink="/transaction">Transacciones</a></li>
      <li *ngIf="isAuth()"><a routerLink="/purchase">Compras</a></li>
      <li *ngIf="isAuth()"><a routerLink="/sell">Ventas</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/product">Inventario</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/category">Categorias</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/supplier">Proveedor</a></li>
      <li *ngIf="isAuth()"><a routerLink="/dashboard">Tablero</a></li>
      <li *ngIf="isAuth()"><a routerLink="/profile">Perfil</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/register">Register</a></li>
      <li *ngIf="isAuth()"><a (click)="logOut()" >Logout</a></li>
    </ul>
  </div>

  <!-- MAIN CONTENT Area-->
   <div class="main-content">
      <router-outlet></router-outlet>
   </div>
</div>